.pure-menu-selected {
	background-color: $palette-background;

	.pure-menu-link, .pure-menu-link:visited {
		color: $palette-secondary-background;
	}
}
.pure-menu-heading {
	color: $palette-background;
}
.pure-menu-link {
	color: $palette-background;

	&:hover, &:focus {
		color: $palette-secondary-background;
		background-color: $palette-background;
	}
}
