<div class="cq-screen-change-password">
	<form name="changePasswordForm" class="pure-form pure-form-stacked cq-form cq-change-password-form">
		<div class="cq-form-error" ng-show="formError">
			<div>{{ formError.message }}</div>
		</div>
		<fieldset class="pure-group">
			<input class="pure-input-1" ng-model="currentPassword" type="password" placeholder="Current Password" required />
			<input class="pure-input-1" ng-model="newPassword" type="password" placeholder="New Password" required minlength="8" />
			<input class="pure-input-1" ng-model="repeatNewPassword" type="password" placeholder="Repeat New Password" required minlength="8"/>

			<button class="pure-button pure-button-primary" type="button" ng-click="changePassword()" ng-disabled="!changePasswordForm.$valid">Change</button>
		</fieldset>
	</form>
</div>
