<div class="cq-screen-login">
	<form name="loginForm" class="pure-form pure-form-stacked cq-form cq-login-form">
		<fieldset>
			<input class="pure-input-1" ng-model="username" placeholder="Username" autocapitalize="off" required />
			<input class="pure-input-1" ng-model="password" type="password" placeholder="Password" required />

			<button class="pure-button pure-button-primary" type="button" ng-click="login()" ng-disabled="!loginForm.$valid">Login</button>
			<a class="cq-sign-up" href="#/signUp">Sign Up!</a>
		</fieldset>
	</form>
</div>
