<div class="cq-screen-sign-up">
	<form class="pure-form pure-form-stacked cq-sign-up-form">
		<fieldset class="pure-group">
			<input class="pure-input-1" ng-model="username" placeholder="Username" required />
			<input class="pure-input-1" ng-model="password" type="password" placeholder="Password" required minlength="8" />
			<input class="pure-input-1" ng-model="repeatPassword" type="password" placeholder=" Repeat Password" required minlength="8" />

			<button class="pure-button pure-button-primary" type="button" ng-click="signUp()">Sign Up</button>
		</fieldset>
	</form>
</div>
