.cq-screen-login {
	.cq-login-form {
		width: 250px;
		margin: 0 auto;

		button {
			float: right;
		}
		.cq-sign-up {
			float: right;
			font-size: 12px;
			line-height: 30px;
    		padding-right: 11px;
		}
	}
}
