<h2>Create</h2>
<form class="pure-form quip_create">
	<div class="notes">
		<ul>
			<li>Encrypted quip will be generated if not supplied.</li>
			<li>Quips will be quarantined before going live.</li>
		</ul>
	</div>
	<fieldset>
		<div class="form_row">
			<label>Quip:*</label>
			<input class="quip_text" ng-model="quip.decrypted_text" required />
		</div>
		<div class="form_row">
			<label>Quip (encrypted):</label>
			<input class="quip_text" ng-model="quip.encrypted_text" />
		</div>
		<div class="form_row">
			<label>Hint:*</label>
			<input class="hint" ng-model="quip.hint_key" required />
			=>
			<input class="hint" ng-model="quip.hint_value" required />
		</div>
		<div class="form_row">
			<label for="featured" class="pure-checkbox">
				Featured: <input name="featured" type="checkbox" ng-model="isFeatured" />
			</label>
		</div>
		<div class="form_row">
			<label>Featured Date:</label>
			<input ng-model="quip.featured_date" type="date" ng-disabled="!isFeatured" />
		</div>

		<div class="form_row">
			<input class="pure-button pure-button-primary" type="button" ng-click="createQuip()" value="Create" />
		</div>
	</fieldset>
</form>
